*build/
autom4te.cache/
m4/
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
include/lighttpd/config.h.in
include/lighttpd/config.h.in~
install-sh
ltmain.sh
missing
.vscode
.mypy_cache
